<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="text-center">
    <h1><img src="modules/core/client/img/mayflower-icon.png" />Welcome to Weird History Facts!</h1>

    <p class="lead">This is the only place to find and post Weird History Facts, Period!</p>
    <p class="lead">Take a look around and post new facts!</p>
    </div>
  </div>  
    <div class="row">
          <div class="col-md-4">
            <div class="well"> 
              <h2 class="text-center"><span class="label label-primary">Facts</span></h2>
              <h1 class="text-center">?????</h1>
            </div>
          </div>
          <div class="col-md-4">
            <div class="well"> 
              <h2 class="text-center"><span class="label label-primary">Users</span></h2>
              <h1 class="text-center">Updating Daily</h1>
            </div>
          </div>
          <div class="col-md-4">
            <div class="well"> 
              <h2 class="text-center"><span class="label label-primary">Possibilites</span></h2>
              <h1 class="text-center">∞</h1>
            </div>
          </div>
           <br>
            <div class="text-center">
            <p class="lead">
                Management System For Our Ever Expanding Team
            </p>
            </div>
            <div class="col-md-3 col-md-offset-3 col-sm-6 col-xs-6">
            <a href="employees" class="undecorated-link">
            <div class="dashboard-div-wrapper bk-clr-three">
                <i class="fa fa-paw fa-3x fa-inverse dashboard-div-icon"></i>
                <hr />
                <h4>Employees</h4>
            </div>
            </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
            <a href="volunteers" class="undecorated-link">
            <div class="dashboard-div-wrapper bk-clr-four">
                <i class="fa fa-paw fa-3x fa-inverse dashboard-div-icon"></i>
                <hr/>
                <h4>Volunteers</h4>
            </div>
            </a>
        </div>
    </div><!--/row-->
</section>
