<section>
  <div class="page-header">
    <h1>{{vm.employee.firstname}} {{vm.employee.lastname}}</h1>
    <h3>{{vm.employee.position}}</h3>
    <hr/>
    <h4>Phone number: <span ng-bind="vm.employee.phone"></span></h4>
    <h4>Email: <span ng-bind="vm.employee.email"></span></h4>
    <h4>Address: {{vm.employee.address}}, {{vm.employee.city}}, {{vm.employee.state}} {{vm.employee.zip}}</h4>
    <h4>Birthdate: {{vm.employee.birthdate | date: 'mediumDate'}}</h4>
    <h4>Hourly Wage: <span ng-bind="vm.employee.wage | currency"></span></h4>
    <h4>Hire Date: <span ng-bind="vm.employee.hiredate | date:'mediumDate'"></span></h4>
    <!-- <p>{{vm.employee}}</p> -->
  </div>
  <div class="pull-right"
       ng-show="vm.employee.isCurrentUserOwner">
    <a class="btn btn-info"
       ui-sref="employees.edit({ employeeId: vm.employee._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-danger" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Created on
      <span ng-bind="vm.employee.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.employee.user"
            ng-bind="vm.employee.user.displayName"></span>
      <span ng-if="!vm.employee.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.employee.content"></p>
</section>
