<section>
  <div class="page-header">
    <h1><img src="modules/core/client/img/mtfuji.png" />  {{vm.volunteer._id ? 'Edit Volunteer' : 'New Volunteer'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.volunteerForm" class="form-horizontal" ng-submit="vm.save(vm.form.volunteerForm.$valid)" novalidate>
      <fieldset>
        
        <div class="row">
                    <div class="col-md-7">
                        <div class="form-group" show-errors>
                            <div class="col-md-6 form-group">
                                <label class="control-label" for="firstname">First Name</label>
                                <input name="firstname" type="text" ng-model="vm.volunteer.firstname" id="firstname" class="form-control" placeholder="First Name" required>
                                <div ng-messages="vm.form.volunteerForm.firstname.$error" role="alert">
                                    <p class="help-block error-text" ng-message="required">Volunteer first name is required.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                              <div class="col-md-12 col-md-offset-1">
                                <label class="control-label" for="lastname">Last Name</label>
                                <input name="lastname" type="text" ng-model="vm.volunteer.lastname" id="lastname" class="form-control" placeholder="Last Name" required>
                                <div ng-messages="vm.form.volunteerForm.lastname.$error" role="alert">
                                    <p class="help-block error-text" ng-message="required">Volunteer last name is required.</p>
                                </div>
                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <label class="control-label" for="address">Street Address</label>
                                <input name="address" type="text" ng-model="vm.volunteer.address" id="address" class="form-control" placeholder="Street Address" required>
                                <div ng-messages="vm.form.volunteerForm.address.$error" role="alert">
                                    <p class="help-block error-text" ng-message="required">Volunteer street address is required.</p>
                                </div>
                            </div>
                            <div class="col-md-5 form-group">
                                <label class="control-label" for="city">City</label>
                                <input name="city" type="text" ng-model="vm.volunteer.city" id="city" class="form-control" placeholder="City" required>
                                <div ng-messages="vm.form.volunteerForm.city.$error" role="alert">
                                    <p class="help-block error-text" ng-message="required">Volunteer city is required.</p>
                                </div>
                            </div>
                            <div class="col-md-2 col-md-offset-1">
                                <label class="control-label" for="state">State</label>
                                <input name="state" type="text" ng-model="vm.volunteer.state" id="state" class="form-control" placeholder="State" required>
                                <div ng-messages="vm.form.volunteerForm.state.$error" role="alert">
                                    <p class="help-block error-text" ng-message="required">Volunteer state is required.</p>
                                </div>
                            </div>
                            <div class="col-md-3 col-md-offset-1">
                                <label class="control-label" for="zip">Zip Code</label>
                                <input name="zip" type="number" ng-model="vm.volunteer.zip" id="zip" class="form-control" placeholder="Zip" required>
                                <div ng-messages="vm.form.volunteerForm.zip.$error" role="alert">
                                    <p class="help-block error-text" ng-message="required">Volunteer zip code is required.</p>
                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <label class="control-label" for="phone">Phone Number</label>
                                <input name="phone" type="number" ng-model="vm.volunteer.phone" id="phone" class="form-control" placeholder="Phone Number (no dashes)" required>
                                <div ng-messages="vm.form.volunteerForm.phone.$error" role="alert">
                                    <p class="help-block error-text" ng-message="required">Volunteer phone number is required.</p>
                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <label class="control-label" for="email">Email</label>
                                <input name="email" type="text" ng-model="vm.volunteer.email" id="email" class="form-control" placeholder="Email" required>
                                <div ng-messages="vm.form.volunteerForm.email.$error" role="alert">
                                    <p class="help-block error-text" ng-message="required">Volunteer email is required.</p>
                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <label class="control-label" for="birthdate">Birthdate</label>
                                <input name="birthdate" type="date" ng-model="vm.volunteer.birthdate" id="birthdate" class="form-control" required>
                                <div ng-messages="vm.form.volunteerForm.birthdate.$error" role="alert">
                                    <p class="help-block error-text" ng-message="required">Volunteer birthdate is required.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                        <div class="form-group" show-errors>
                            <label class="control-label" for="position">Position</label>
                            <select name="position" type="text" ng-model="vm.volunteer.position" id="position" class="form-control" placeholder="Please Select" required>
                                <option>Volunteer: Weirdness Judge</option>
                                <option>Volunteer: Forum Moderator</option>
                                <option>Volunteer: Backend Help</option>
                                <option>Volunteer: Fact Verifier</option>
                            </select>
                            <div ng-messages="vm.form.volunteerForm.position.$error" role="alert">
                                <p class="help-block error-text" ng-message="required">Volunteer position is required.</p>
                            </div>
                            <label class="control-label" for="startdate">Start Date</label>
                            <input name="startdate" type="date" ng-model="vm.volunteer.startdate" id="startdate" class="form-control" required>
                            <div ng-messages="vm.form.volunteerForm.startdate.$error" role="alert">
                                <p class="help-block error-text" ng-message="required">Volunteer start date is required.</p>
                            </div>
                        </div>
                    </div>
                </div>

        <div class="form-group">
          <button type="submit" class="btn btn-info">{{vm.volunteer._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
